<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Come Say Hello!<span class="wave">👋</span></h4>
                <p><a href="mailto:idogunoghenetega@gmail.com">idogunoghenetega@gmail.com</a></p>
                <p><a href="https://tegaidogun.github.io" target="_blank">tegaidogun.github.io</a></p>
            </div>
            <div class="footer-section">
                <h4>Links</h4>
                <p><a href="projects.html">My Work</a></p>
                <p><a href="blogs.html">My Shelf</a></p>
                <p><a href="#my-resume">My Résumé</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-copyright">&copy; 2024 Tega Idogun</p>
            <div class="footer-socials">
                <a href="https://github.com/tegaidogun" target="_blank">GH</a>
                <a href="https://linkedin.com/in/oghentega-idogun" target="_blank">LN</a>
                <a href="https://youtube.com/tegaidogun" target="_blank">YT</a>
            </div>
        </div>
    </div>
</footer>
