<div class="header-container">
    <header>
        <div class="logo">
            <a href="/" class="name-link">
                <span class="name-white">OGHENE</span><span class="name-red">TEGA</span><span class="name-white">IDOGUN</span>
            </a>
        </div>
        <div class="burger-wrapper">
            <div class="burger" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="/projects.html">Projects</a></li>
                <li class="nav-link"><a href="/resume.html">Resume</a></li>
                <li class="nav-link"><a href="/shelf.html">Shelf</a></li>
                <li class="nav-link"><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>
